<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/476cf2787d.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>login</title>
</head>
<body>
  <header class="main-header">
    <div class="main-header-top-bar">
        <img src="/img/logo-mercado-liebre.svg" class="logo">
        <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de credito
        </h2>
    </div>
    <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
    </a>

    <nav class="main-navbar">
       <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        
        <ul class="right-navbar">
          <li><a href="#">Crea tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
          <li><a href="#">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
          <li><a href="#">Mis Compras<i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
</header>
<!--banner-->
<div class="banner"><img src="/img/img-home-banner.jpg" class="banner" width="100%">
</div>


<!--registro-->

<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="Nombre de Usuario"/>
      <input type="password" placeholder="Contraseña"/>
      <input type="text" placeholder="Email"/>
      <button>Registrarme</button>
    </form>
  </div>
</div>
</div>
